<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap" rel="stylesheet"> 
    <title>Contact Me</title>

  </head>
  <body class="elegant-color-dark">
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark stylish-color">
      <a class="navbar-brand name-logo" href="/">Ethan Harsh</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pdf/Ethan_Harsh_Resume.pdf" target="_blank">Resume</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/ethanharsh/"  target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="https://github.com/EthanHarsh"  target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-effect waves-light" href="https://www.instagram.com/eharsh4/"  target="_blank">
                  <i class="fab fa-instagram"></i>
              </a>
          </li>
        </ul>
      </div>
    </nav>
    <!--/.Navbar -->

    <main>
        <!--Section: Contact v.2-->
        <section class="mb-5 container stylish-color-dark mt-5 contact-me ms-2 me-2">
            <div class="unique-color pt-3 pb-1 headline row-margins">
            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold text-center my-4 text-light">Contact Me</h2>
            <!--Section description-->
            <p class="text-center text-light w-responsive mx-auto mb-5">Questions? Comments? Concerns?  Enter your message in the form and I'll get back to you as soon as I can.</p>
            </div>
            <div class="row p-5 text-light">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5 text-white">
                    <form id="contact-form" name="contact-form" action="send" method="POST" enctype = "multipart/form-data">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control text-white">
                                    <label for="name" class="text-white">Your name</label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control text-white">
                                    <label for="email" class="text-white">Your email</label>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control text-white">
                                    <label for="subject" class="text-white">Subject</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea text-white"></textarea>
                                    <label for="message" class="text-white">Your message</label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                    </form>

                    <div class="text-center text-md-left">
                        <a class="btn btn-light text-dark" type="submit" value="submit" id="contact-button">Send</a>
                    </div>
                    <div class="status d-none" id="status">Your Message has been sent! Thanks!</div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>850 Twin Rivers Dr #2501<br> Columbus, OH 43216</p>
                        </li>

                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>+ 01 (614) - 344 - 1875</p>
                        </li>

                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>ethan@ethanharsh.com</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

            </div>

        </section>
        <!--Section: Contact v.2-->
    </main> 
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="send.js"></script>  
  </body>
</html>