<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!--   <link rel="stylesheet" href="/reset.css"> -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">



    <link rel="stylesheet" href="/style.css"> 
   <link rel="stylesheet" href="main/portfolio/cards.css"> 
    <link rel="stylesheet" href="main/portfolio/portfolio.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap" rel="stylesheet"> 
    <title>Portfolio</title>
</head>
<body class="elegant-color-dark">
    <header>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark stylish-color">
        <a class="navbar-brand name-logo" href="/">Ethan Harsh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item  active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pdf/Ethan_Harsh_Resume.pdf" target="_blank">Resume</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/ethanharsh/"  target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" href="https://github.com/EthanHarsh"  target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="https://www.instagram.com/eharsh4/"  target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
          </ul>
        </div>
      </nav>
      <!--/.Navbar -->
    </header>

    <main>
        <section class="landing">
            <div class="feature-box">
                <figure class="feature-box-top">
                    <img src="/img/profile.jpg">
                    <div class="feature-box-headline">
                        <h1 class="hero-text">Hello, my name is Ethan.</h1>
                        <h2 class="hero-text text-100" class="desktop">I like Mac & Cheese,</h2>
                        <h2 class="hero-text text-100" class="desktop">Techno, &</h2>
                        <h2 class="hero-text text-100" class="desktop">Coding.</h2>
                    </div>
                </figure>

                <div class="feature-box-text">
                    <p>Thank you for checking out my developer portfolio! Here you will find a short bio about me and my publically shared development projects. I hope you enjoy looking thorugh them.  Feel free to email me (by clicking on the contact button) if you have any comments, suggestions, or questions.  I will be constantly updating this site so be sure to return soon! 😁</p>
                </div>

                <div class="feature-box-text right">
                    <p>I was looking for something to do at the start of the 2020 COVID-19 pandemic. Initially, I bought a Playstation 4 and tried my hand at Call of Duty.  After a little while, I got tired of being consitently killed by other online COD players.  I needed another project, so I bought a UDEMY course on Javascript.  I was immediately hooked and I've been coding almost every day since.</p>
                </div>
            </div>
        </section>

        <section class="landing">
            <figure class="feature-box education">
                <div class="feature-box-top">
                    <img src="/img/osu-seal.jpg" class="mobile">
                    <div class="feature-box-headline ">
                        <h1 class="hero-text right-text">The Ohio State University</h1>
                        <h2 class="hero-text right-text text-100" class="desktop">I graduated before.</h2>
                        <h2 class="hero-text right-text text-100" class="desktop">Now I'm back</h2>
                        <h2 class="hero-text right-text text-100" class="desktop">For more!</h2>
                    </div>
                    <img src="/img/osu-seal.jpg" class="desktop">
                </div>

                <div class="feature-box-text">
                    <p>In 2014 I first transfered to the Ohio State University in Columbus, Ohio.  During my undergratduate experience I tried many different subjects, experienced a football national championship, and graduated with a degree in Political Science.</p>
                </div>

                <div class="feature-box-text right">
                    <p>I decided to sign up for OSU's full stack development bootcamp for a couple reasons.  You can learn alot through UDEMY courses and online tutorials, but you will inevitably have gaps in your knowledge.  For me the bootcamp has helped me to understand industry best practices, a number of advanced skills, and connected me with other developers around the country.</p>
                </div>
            </figure>
        </section>

        <section class="landing" id="portfolio">
            <div class="feature-box port">
                <div class="feature-box-top portfolio">
                    <div class="feature-box-headline">
                        <h1 class="hero-text right-text">Welcome to my portfolio!</h1>
                        <h2 class="hero-text right-text" id="projects">Check out my projects!</h2>
                        <p class="friendly mobile" >Note: Not all projects are mobile friendly!</p>
                        <h3 class="hero-text right-text text-light op-75" id="projects">Filter</h3>
                        <div class="row flex-col-mob">
                          <a class="btn btn-primary" data-mdb-ripple-color="dark" id="filter-featured">Featured Projects</a>
                          <a class="btn btn-outline-light" data-mdb-ripple-color="dark" id="filter-all">All Projects</a>
                          <a class="btn btn-outline-light" data-mdb-ripple-color="dark" id="filter-vanilla">Vanilla Javascript</a>
                          <a class="btn btn-outline-light" data-mdb-ripple-color="dark" id="filter-node">NodeJS</a>
                          <a class="btn btn-outline-light" data-mdb-ripple-color="dark" id="filter-html">HTML/CSS Basic</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="flexbox-wrap main-content" id="project-section">
          
        </section>
    </main>

    <footer>
        <div class="copyright">
            &copy; 2021 Ethan Harsh. All rights reserved.
        </div>
    </footer>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <!--Custom Javascript-->
    <script type="text/javascript" src="/main/portfolio/script.js"></script>
</body>
</html>