:root {
    /* Color Guide: https://material.io/design/color/the-color-system.html#tools-for-picking-colors */
    --background-dark: #212121; /* Gray 900 */
    --background-med: #616161; /* Gray 700 */
    --background-light: #757575; /* Gray 600 */

    --background-secondary-dark: #0277BD; /* Light Blue 800 */

    --background-third-dark: #CE0F3D; /* OSU Scarlett */
    --background-fourth-dark: #558B2F; /* Light Green 800 */

    --border-med: #424242; /* Gray 800 */

    --border-light: #616161; /* Light Blue 800 */
    --border-secondary-dark: #01579B; /* Light Blue 800 */
    --border-third-dark: rgb(173, 42, 2); /* Light Blue 800 */

    --btn-background-primary: #29B6F6; /* Light Blue 400 */
    --btn-background-border-primary: #03A9F4; /* Light Blue 500 */
    --btn-background-hover-primary: #B3E5FC; /* Light Blue 100 */
    --btn-background-hover-border-primary: #81D4FA; /* Light Blue 100 */
    
    
    --text-color-main: #EEEEEE; /* Gray 200 */
    --text-color-hover: #FAFAFA; /* Gray 50 */
    --text-color-dark: #BDBDBD; /* Gray 400 */

    --main-side-margin: 2.5rem;

    --red-alert: #D32F2F; /* Red 700 */
}

* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    transition: all 0.1s ease-in-out;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--text-color-main);
    display: inline;
}

a:hover {
    text-decoration: underline;
    color: var(--text-color-hover);
    display: inline;
}

p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

h1,
h2 {
    color: var(--text-color-main);
}

h1 {
    font-size: 2rem;
    font-weight: 300;
}

h2 {
    text-align: center;
}

main {
    width: 100vw;
}

.name-logo {
    font-weight: 300;
    font-size: 1.25rem;
}

.fourohfour {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourohfour img {
    width: 100%;
    height: 100%;

}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background: var(--btn-background-primary);
    border: 1px solid var(--btn-background-border-primary);
    width: 200px;
    height: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
}

.button:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    align-items: center;
    background: var(--btn-background-hover-primary);
    border: 1px solid var(--btn-background-hover-border-primary);
    border-radius: 4px;
  }

.flexbox-wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.flexbox-wrap-col {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.feature-box {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background: var(--background-secondary-dark);
    border: 1px solid var(--border-secondary-dark);
    box-shadow: 20px 20px 25px rgba( 0, 0, 0, 0.15 );
    padding-left: var(--main-side-margin);
    padding-right: var(--main-side-margin);
    margin: var(--main-side-margin);
    padding-top: 7vh;
    padding-bottom: 1rem;
    border-radius: 4px;
}
.feature-box img {
    max-width: 250px;
    border-radius: 4px;
}

.feature-box-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
}

.hero-text {
    text-align: right;
    font-size: 2rem;   
}

.feature-box-text {
    width: 75%;
    margin-top: 1rem;
    padding-right: 9%;
    overflow: hidden;
    border-left: 1px solid var(--text-color-main);
    margin-bottom: 2rem;
    border-radius: 4px;
}

.feature-box-text p {
    color: var(--text-color-main);
}

.right {
    border-left: none;
    border-right: 1px solid var(--text-color-main);
    text-align: right;
    width: 100%;
    padding-left: 9%;
    padding-right: 0%;
}

.education {
    background: var(--background-third-dark);
    border: 1px var(--border-third-dark);
    padding-top: 2.5rem;
    padding-left: var(--main-side-margin);
    padding-right: var(--main-side-margin);
}

.education img {
    max-width: 250px;
}

.port {
    background: var(--background-fourth-dark);
    padding-top: 1.5rem;
}

.portfolio {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-text {
    text-align: left;
}


.copyright {
    margin-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    color: var(--text-color-dark);
}

.friendly {
    color: var(--text-color-dark);
}


.mobile {
    display: none;
}

.text-100 {
    font-weight: 100;
}

#projects {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: center;
}

.hover-hide {
    margin-bottom: 0.5rem;
}

.row-margins {
    margin-right: -15px;
    margin-left: -15px;
}

.op-75 {
    opacity: 75%;
}

.border-black-bottom {
    border-bottom: 1px solid black;
}


/*Small devices */
@media (max-width: 780px) { 
    .feature-box-top {
        justify-content: center;
    }

    .feature-box-headline {
        margin-top: 1rem;
    }

    .hero-text {
        text-align: center;
    }

    .mobile {
        display: block;
        margin-bottom: 1rem;
    }
    .desktop {
        display: none;
    }

    #projects {
        margin-bottom: 1rem;
    }

    .card:hover #hover-hide {
        display: none;
    }

    .flex-col-mob {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: stretch;
    }

 }