<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="/pig_dice/rules/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Pig Game</title>
    </head>

    <body>
        <div class="wrapper clearfix">
            <div class="player-0-panel active">
            
            </div>

            
            <div class="player-1-panel">
                
            </div>
            
            <button class="btn-new" onclick="location.href='http://localhost:4000/projects/pig_dice'"><i class="ion-ios-game-controller-b-outline" ></i>New Game</button>

            <div class="rules-box">

                    <h6><strong>Game Rules</strong></h6>
                          <p class="rules">
                            - First click "Game Settings" and input a winning score <br> <br>
                            - The game has 2 players, playing in rounds <br> <br>
                            - In each turn, a player rolls a dice as many times as they wish. Each result gets added to their ROUND score <br> <br>
                            - The player can choose to 'Hold', which means that his ROUND score gets added to their global score. After that, it's the next player's turn <br> <br>
                            - BUT, if the player rolls a 1, all of their ROUND score is lost. Then, it's the next player's turn <br> <br>
                            - The first player to reach the winning score wins the game
                        </p>
            </div>
        </div>                        
    </body>
</html>